<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>To-Do List</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
	integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<link
	href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
	rel="stylesheet">
</head>
<body
	class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 min-h-screen flex items-center justify-center">
	<div class="bg-white rounded-lg shadow-lg p-8 max-w-md w-full">
		<div class="flex items-center justify-between mb-6">
			<h1 class="text-xl font-bold text-gray-800">
				To-Do List <span class="ml-2">📝</span>
			</h1>
		</div>
		<form action="/addTask" method="post">
			<div class="flex mb-4">
				<input type="text" placeholder="Add your task" name="description"
					class="w-full px-4 py-2 border rounded-l-lg focus:outline-none focus:ring-2 focus:ring-purple-500" />
				<button type="submit"
					class="text-white bg-blue-500 border-0 py-1 px-3 mr-2 hover:bg-blue-600 focus:ring-4 focus:ring-blue-300 rounded text-base ml-2 mt-4 md:mt-0">
					Add</button>
			</div>
		</form>
		<ul>
			<li th:each="n:${task}" class="flex items-center justify-between py-2">
				<div class="flex items-center">
					<input type="checkbox" class="mr-4" /> 
					<span>[[ ${n.getDesc()} ]]</span>
				</div>
				
				<a th:href="@{'/deleteTask/'+${n.getId()}}" class="text-red-500 hover:text-red-700">✕</a>
			</li>
		</ul>
	</div>
</body>
</html>
